<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lynx Stage.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>20221687</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
				<key>dateExpires</key>
				<string>9/11/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BugfenderSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>20.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>443</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mocker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAMKeychain.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwinjectAutoregistration.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwinjectStoryboard.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAE640F15342D9D547EEDB638D599578657B66B8</string>
						<key>dateExpires</key>
						<string>9/11/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipeCellKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FZXCUUS8M8</string>
						<key>name</key>
						<string>Augmedix Operating Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FZXCUUS8M8.com.augmedix.Lynx.staging</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.default-data-protection</key>
				<string>NSFileProtectionCompleteUnlessOpen</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FZXCUUS8M8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Lynx Stage.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>376e547e-cf57-436a-894e-1591a349564b</string>
				<key>dateExpires</key>
				<string>9/12/25</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.augmedix.Lynx.staging</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FZXCUUS8M8</string>
				<key>name</key>
				<string>Augmedix Operating Corporation</string>
			</dict>
			<key>versionNumber</key>
			<string>1.17.0</string>
		</dict>
	</array>
</dict>
</plist>
